<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Message Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Ouzel Outfitters Guide Portal</h1>

    <h2>
      This is the home page for the
      <a href="http://www.oregonrafting.com/">Ouzel Outfitters</a>
      guides to do thier thing.
    </h2>

    <%= link_to "Log in now!", login_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("Ouzel37YearLogo.png", alt: "Ouzel's 37th Anniversary"),
              'http://oregonrafting.com/' %>
<% end %>