<%= form_for([@invoice.account, @invoice]) do |f| %>

  <%= render 'shared/error_messages', target: @invoice %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :status %>
        <%= f.select(:status, [['Draft', 'draft'], ['Sent', 'sent'], ['Paid', 'paid']]) %>
      </div>

      <div class="field">
        <%= f.label :late_fee %>
        <%= f.number_field(:late_fee, in: 1.0..20.0, step: 0.5, class: 'form-control') %>
      </div>
      
      <div class="field">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions">
      <%= link_to "Cancel", account_path(@account), :class => "btn btn-danger" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
