<%= form_for([@invoice.account, @invoice]) do |f| %>

  <%= render 'shared/error_messages', target: @invoice %>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :late_fee %>
    <%= f.text_field :late_fee %>
  </div>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.text_field :account_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
