<% provide(:title, 'All invoices') %>

<div class="row page-header">
  <h1>Invoices</h1>
</div>

<div class="row">
  <table id="invoices" role="datatable" class="display">
    <thead>
      <tr>
        <th>Status</th>
        <th>Late fee</th>
        <th>Account</th>
        <th class='action_col nosort' >Action</th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr id="invoice-<%= invoice.id %>">
          <td><%= invoice.status %></td>
          <td><%= invoice.late_fee %></td>
          <td><%= invoice.account %></td>
          <td>
            <%= link_to 'Show', [invoice.account, invoice] %>
            <%= link_to 'Edit', edit_account_invoice_path(invoice.account, invoice) %>
            <%= link_to 'Destroy', [invoice.account, invoice], method: :delete, data: { confirm: 'Are you sure?' } %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

