<p id="notice"><%= notice %></p>
<div class="row page-header">
  <h1>Invoice: <%= @invoice.created_at %></h1>
</div>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @invoice.notes %>
</p>

<p>
  <strong>Late fee:</strong>
  <%= @invoice.late_fee %>
</p>

<p>
  <strong>Account:</strong>
  <%= @invoice.account %>
</p>

<% unless @invoice.status == 'paid' %>
	<%= link_to 'Edit', edit_account_invoice_path(@invoice.account, @invoice) %> |
<% end %>
<%= link_to 'Back', account_path(@invoice.account) %>
