<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", target: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <% if current_user.admin? %>
    <%= f.label :admin, class: "checkbox inline" do %>
      <%= f.check_box :admin %>
      <span>Make Administrator</span>
    <% end %>
  <% end %>

  <div class="actions">
      <%= link_to "Cancel", users_path, :class => "btn btn-danger" %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">change</a>
</div>