<tr id="user-<%= user.id %>">
    <td>
        <%= gravatar_for user, size: 50 %>
        <%= link_to user.name, user %>
        <% if user.admin? %>
            <div>Admin</div>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
            <div>
            <% if user.activated %>
                Verified
            <% else %>
                <%= link_to "Resend verification email", account_activation_path(user), method: :patch %>
            <% end %>
            </div>
        <% end %>
    </td>
    <td>
        <span><%= user.last_logged_in.to_formatted_s(:long) unless !user.last_logged_in %></span>
    </td>
    <td>
        <% if current_user.admin? %>
            <%= link_to edit_user_path(user), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
            <%= link_to user, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        <% end %>
    </td>
</tr>