<tr id="delivery-<%= delivery.id %>">
	<td><%= delivery.address1 %></td>
	<td><%= delivery.address2 %></td>
	<td><%= delivery.city %></td>
	<td><%= delivery.state %></td>
	<td><%= delivery.zip_code %></td>
	<td><%= delivery.notes %></td>
	<td>
	  <%= link_to delivery, class: "btn btn-default" do %>
	      <i class="glyphicon glyphicon-folder-open"></i>
	  <% end %>
	  <%= link_to edit_delivery_path(delivery), class: "btn btn-default" do %>
	              <i class="glyphicon glyphicon-pencil"></i>
	  <% end %>
	  <% if current_user.admin? %>
	    <%= link_to delivery, method: :delete, data: { confirm: 'Are you sure?' },
	                class: "btn btn-default" do %><i class="glyphicon glyphicon-trash"></i>
	    <% end %>
	  <% end %>
	</td>
</tr>