<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @delivery.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @delivery.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @delivery.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @delivery.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @delivery.zip_code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @delivery.notes %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
