<footer class="footer">
  <small>
    &copy; <%= Time.new.year%> <a href="<%= ENV["COMPANY_URL"] %>"><%= ENV["COMPANY_NAME"] %></a>. All Rights Reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.oregonrafting.com/index.cfm/pid/8/ouzel/river/guide/employment">Employment</a></li>
    </ul>
  </nav>
</footer>