<tr id="account-<%= account.id %>">
	<td><%= account.address1 %></td>
	<td><%= account.address2 %></td>
	<td><%= account.city %></td>
	<td><%= account.state %></td>
	<td><%= account.zip_code %></td>
	<td><%= account.notes %></td>
	<td>
	  <%= link_to account, class: "btn btn-default" do %>
	      <i class="glyphicon glyphicon-folder-open"></i>
	  <% end %>
	  <%= link_to edit_account_path(account), class: "btn btn-default" do %>
	              <i class="glyphicon glyphicon-pencil"></i>
	  <% end %>
	  <% if current_user.admin? %>
	    <%= link_to account, method: :delete, data: { confirm: 'Are you sure?' },
	                class: "btn btn-default" do %><i class="glyphicon glyphicon-trash"></i>
	    <% end %>
	  <% end %>
	</td>
</tr>