<div class="row">

  <%= form_for(account) do |f| %>

    <%= render 'shared/error_messages', target: account %>

    <div class="col-md-6">
      <h3>Account Info:</h3>
      <div class="field">
        <%= f.label :account_number %>
        <%= f.text_field :account_number, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: 'form-control'  %>
      </div>
    </div>

    <% if controller_name == 'accounts' && action_name == 'new' %>
      <%= render 'accounts/address', f: f %>
    <% end %>
</div>

<div class="actions row">
    <%= link_to "Cancel", accounts_path, :class => "btn btn-danger" %>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
</div>
  <% end %>