<%= form_for(account) do |f| %>

  <%= render 'shared/error_messages', target: account %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :account_number %>
        <%= f.text_field :account_number, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control'  %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :address1 %>
        <%= f.text_field :address1, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :address2 %>
        <%= f.text_field :address2, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, class: 'form-control'  %>
      </div>

      <div class="field">
        <%= f.label :notes %>
        <%= f.text_area :notes, class: 'form-control'  %>
      </div>
    </div>
  </div>

  <div class="actions">
      <%= link_to "Cancel", accounts_path, :class => "btn btn-danger" %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
  </div>
<% end %>