<p id="notice"><%= notice %></p>

<div class="row page-header">
  <h1>Account Number: <%= @account.account_number %></h1>
</div>

<div class='row'>
  <div class="col-md-4 info-box">
    <h3>Account Info</h3>
    <p>
      <%= @account.first_name + " " + @account.last_name %>
      <br />
      <%= @account.phone %>
      <br />
      <%= @account.email %>
      <br />
      <strong>Notes:</strong>
      <br />
      <%= @account.notes %>
    </p>
    <div class="actions-left">
      <%= link_to "Back", accounts_path, :class => "btn btn-danger" %>
      <%= link_to "Edit Account", edit_account_path(@account), :class => "btn btn-primary" %>
    </div>
  </div>

  <div class="col-md-4 info-box">
    <% if @account.addresses %>
      <% @account.addresses.each do |address| %>
        <h3><%= address.type_name + " Address" %></h3>
        <p>
          <% unless address.care_of.blank? %>
            c/o <strong><%= address.care_of %></strong>
            <br />
          <% end %>
          <%= address.address1 %>
          <% unless address.address2.blank? %>
            <br />
            <%= address.address2 %>
          <% end %>
          <br />
          <%= address.city + ", " + address.state + "  " + address.zip_code %>
          <br />
          <%= link_to 'Delete', [address.account, address],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Edit', edit_account_address_path(address.account, address)%>
        </p>
      <% end %>
    <% end %>
    <% unless @account.addresses.count >= 2 %>
      <%= link_to 'New Address', new_account_address_path(@account), :class => "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-md-4 info-box">
    <h3>Invoice Info:</h3>
  </div>
</div>