<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @account.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @account.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @account.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @account.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @account.zip_code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @account.notes %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
