<p id="notice"><%= notice %></p>

<div class="row page-header">
  <h1>Account Number: <%= @account.account_number %></h1>
</div>

<div class='row'>
  <p>
    <strong>Name:</strong>
    <%= @account.first_name + " " + @account.last_name %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= @account.phone %>
  </p>

  <p>
    <strong>Email Address:</strong>
    <%= @account.email %>
  </p>

  <p>
    <strong>Address 1:</strong>
    <%= @account.address1 %>
  </p>

  <p>
    <strong>Address 2:</strong>
    <%= @account.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @account.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @account.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= @account.zip_code %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @account.notes %>
  </p>
</div>

<div class="row actions">
    <%= link_to "Back", accounts_path, :class => "btn btn-danger" %>
    <%= link_to "Edit", edit_account_path(@account), :class => "btn btn-primary" %>
</div>