<p id="notice"><%= notice %></p>

<div class="row page-header">
  <h1>Account Number: <%= @account.account_number %></h1>
</div>

<div class='row'>
  <div class="col-md-4 info-box">
    <h3>Account Info</h3>
    <p>
      <%= @account.first_name + " " + @account.last_name %>
      <br />
      <%= @account.phone %>
      <br />
      <%= @account.email %>
      <br />
      <%= @account.address1 %>
      <br />
      <%= @account.address2 %>
      <br />
      <%= @account.city + ", " + @account.state + "  " + @account.zip_code %>
      <br />
      <strong>Notes:</strong>
      <br />
      <%= @account.notes %>
    </p>
    <div class="actions-left">
        <%= link_to "Edit Account", edit_account_path(@account), :class => "btn btn-primary" %>
    </div>
  </div>

  <div class="col-md-4 info-box">
    <h3>Mailing Address</h3>
    <% if @account.mailing_address %>
    <p>
      <%= @account.mailing_address.address1 %>
        <br />
      <%= @account.mailing_address.address2 %>
        <br />
      <%= @account.mailing_address.city + ", " + @account.mailing_address.state + "  " + @account.mailing_address.zip_code %>
    </p>
    <div class="actions-left">
        <%= link_to "Edit Mailing Address", edit_account_mailing_address_path(@account), :class => "btn btn-primary" %>
    </div>
    <% else %>
    <div class="actions-left">
        <%= link_to "Add Mailing Address", new_account_mailing_address_path(@account), :class => "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>